@font-face {
  font-family: 'digital-7';
  src: url(./fonts/digital-7.ttf); }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, #FF3636, #8df211);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat; }

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: minmax(16rem, auto) repeat(5, 10rem);
  min-height: 100vh; }
  .calculator-grid > button {
    border: 1px solid #555;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 2rem;
    font-weight: 700;
    transition: background-color 300ms; }
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer; }
  .calculator-grid > button:active {
    transform: scale(0.99); }

.span-2 {
  grid-column: span 2; }

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  color: red;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;
  font-family: 'digital-7', sans-serif;
  word-wrap: break-word;
  word-break: break-all; }

.previous-operand {
  font-size: 3.5rem; }

.current-operand {
  font-size: 7rem; }
